<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8">
	<title>$aveory</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link  href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" >
    </head>
    <body>
        <h1>$aveory</h1>   
        <div class="container">
            <div class="sign-up">
                <h2>Sign Up</h2>
                <div class="sign-up-form">
                    <form  action="{{ url_for('register') }}" method="post">
                        <table>
                            <tr>
                                <td>First Name</td>
                                <td><input type="text" name="fname" placeholder="John"></td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td><input type="text" name="lname" placeholder="Johnson"></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="text" name="email" placeholder="johnson@saveory.com"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="center-button"><button class="button" type="submit">Sumbit</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div class="sign-in">
                <h2>Sign In</h2>
                <div class="sign-in-form">
                    <form action="{{ url_for('signin') }}" method="post">
                        <table>
                            <tr>
                                <td>Email</td>
                                <td><input type="text" name="email"></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td><input type="password" name="password"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="center-button"><button class="button" type="submit">Sumbit</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div class="promo-video">
                <iframe width="500px" height="322px" src="https://www.powtoon.com/embed/bkg1Xo7dKNq/"></iframe>
            </div>
        </div>
        
    </body>
</html>
