<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>$aveory</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/index.css') }}">
    <body>
        <h1>$aveory</h1>   
        <div class="container">
           
         

            <div class="promo-video">
                <iframe width="500px" height="322px" src="https://www.powtoon.com/embed/bkg1Xo7dKNq/"></iframe>
            </div>
        </div>
        
    </body>
</html>